<div class="form-container">
    <form [formGroup]="stationEditForm" action="">
        <h2>Edit Station</h2>
        <div class="form-field">
            <label for="name">Station Name: </label>
            <input id="name" type="text" formControlName="stationName" [class.border-red-500]="isFieldInvalid('stationName')"/>
            @if (isFieldInvalid('stationName')) {
                <div class="mt-1 text-sm text-red-600">
                    {{ getFieldError('stationName') }}
                </div>
            }
        </div>
        <div class="form-field">
            <label for="latitude">Latitude: </label>
            <input id="latitude" type="number" formControlName="latitude" [class.border-red-500]="isFieldInvalid('latitude')">
            @if (isFieldInvalid('latitude')) {
                <div class="mt-1 text-sm text-red-600">
                    {{ getFieldError('latitude') }}
                </div>
            }
        </div>
        <div class="form-field">
            <label for="longitude">Longitude: </label>
            <input id="longitude" type="number" formControlName="longitude" [class.border-red-500]="isFieldInvalid('longitude')">
            @if (isFieldInvalid('longitude')) {
                <div class="mt-1 text-sm text-red-600">
                    {{ getFieldError('longitude') }}
                </div>
            }
        </div>
        <div class="form-field">
            <label for="priceRate">Price Rate: </label>
            <input id="priceRate" type="number" formControlName="priceRate" [class.border-red-500]="isFieldInvalid('priceRate')">
            @if (isFieldInvalid('priceRate')) {
                <div class="mt-1 text-sm text-red-600">
                    {{ getFieldError('priceRate') }}
                </div>
            }
        </div>
        <div class="form-field">
            <label for="powerOutput">Power Output: </label>
            <input id="powerOutput" type="number" formControlName="powerOutput" [class.border-red-500]="isFieldInvalid('powerOutput')">
            @if (isFieldInvalid('powerOutput')) {
                <div class="mt-1 text-sm text-red-600">
                    {{ getFieldError('powerOutput') }}
                </div>
            }
        </div>
        <div class="form-field">
            <label for="manual">Manual: </label>
            <input id="manual" type="text" formControlName="manual">
        </div>
        <div class="form-field">
            <label for="state">State: </label>
            <select id="state" type="text" placeholder="Select State" formControlName="state" [class.border-red-500]="isFieldInvalid('state')">
                <option value="PRIME">Prime</option>
                <option value="GOOD">Good</option>
                <option value="DECENT">Decent</option>
                <option value="DAMAGED">Damaged</option>
                <option value="BROKEN">Broken</option>
                <option value="ACTIVE">Active</option>
                <option value="INACTIVE">Inactive</option>
                <option value="MAINTENANCE">Maintenance</option>
                <option value="OUT_OF_SERVICE">Out of Service</option>
            </select>
            @if (isFieldInvalid('state')) {
                <div class="mt-1 text-sm text-red-600">
                    {{ getFieldError('state') }}
                </div>
            }
        </div>
        <div class="form-field">
            <label for="spot_id">Spot ID: </label>
            <select id="spot_id" type="number" placeholder="Select Spot" formControlName="spot_id" [class.border-red-500]="isFieldInvalid('spot_id')">
                <option value="1">Spot 1</option>
                <option value="2">Spot 2</option>
                <option value="3">Spot 3</option>
                <option value="4">Spot 4</option>
                <option value="5">Spot 5</option>
            </select>
            @if (isFieldInvalid('spot_id')) {
                <div class="mt-1 text-sm text-red-600">
                    {{ getFieldError('spot_id') }}
                </div>
            }
        </div>
        <div class="checkboxes-container">
            <div class="checkbox-container">
                <label for="grounded">Grounded: </label>
                <input id="grounded" type="checkbox" formControlName="grounded" [class.border-red-500]="isFieldInvalid('grounded')">
            </div>
            <div class="checkbox-container">
                <label for="wired">Wired: </label>
                <input id="wired" type="checkbox" formControlName="wired" [class.border-red-500]="isFieldInvalid('wired')">
            </div>
        </div>

        <!-- <label for="mediaList">Media List: </label>
        <input id="mediaList" type="text" [formControl]="mediaList">
    
        <label for="plugTypeList">Plug Type List: </label>
        <input id="plugTypeList" type="text" [formControl]="plugTypeList"> -->
        <div class="btn-container">
            <button type="submit" class="submit-btn" (click)="submitEditStation()">Edit Station</button>
            <app-station-delete-btn [stationId]="stationId"></app-station-delete-btn>
        </div>
    </form>
</div>