<div class="station-card">
    @if(station){
        <h2>{{ station.stationName }}</h2>
        <img src="/images/station.jpeg"/>
        <p>Location: {{ station.latitude }}, {{ station.longitude }}</p>
        <p>Price Rate: {{ station.priceRate }}</p>
        <p>Power Output: {{ station.powerOutput }}</p>

        <p [ngClass]="['Broken', 'Inactive', 'Under Maintenance', 'Out of Service', 'Out of Service'].includes(station.state | stateToString) ?
            'greyedOut' : 'whiteText' ">State: {{ station.state | stateToString }}</p>

        <p>Grounded: {{ station.grounded }}</p>
        <p>Busy: {{ station.busy }}</p>
        <p>Wired: {{ station.wired }}</p>
        <p>Spot ID: {{ station.spot_id }}</p>
        <p>Reservations: {{ station.reservationList?.join(', ') }}</p>
        <!-- <img [src]="station.mediaList" alt="Station Media" /> -->
        <p>Plug Types: {{ station.plugTypeList?.join(', ') }}</p>
        <a [routerLink]="['/stations', station.id]">Details</a>
        <a [routerLink]="['/stations', 'edit', station.id]">Edit</a>
        @if(station && station.id){
            <app-station-delete-btn [stationId]="station.id"></app-station-delete-btn>
        }
    }
</div>
